#toDoTasksContainer
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    margin-top: 20px;
}

#doneTasksContainer
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    margin-top: 20px;

    display: none;
}

.taskCheckmarkClass
{
    position: absolute; 
    left: 90%; 
    font-size:140%; 
    font-weight: bold
}

.taskPlusClass
{
    position: absolute; 
    left: 80%; 
    font-size:150%; 
    font-weight: bold;
}

#toDoTasksTable
{
    width: 40%;
    position: absolute;
    left: 30%;
}

#doneTasksTable
{
    width: 40%;
    position: absolute;
    left: 30%;
}

.doneTasksRow
{
    text-decoration: line-through;
}

#showToDoListButton
{
    padding: 0;
    border: none;
    background: none;

    font-size: 30px;

    position: relative;
    left: 35%;
}

#showDoneListButton
{
    padding: 0;
    border: none;
    background: none;

    font-size: 30px;

    position: relative;
    left: 55%;
}
