#toDoTasksContainer
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    margin-top: 20px;
}

#doneTasksContainer
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    margin-top: 20px;

    display: none;
}

.taskCheckmarkButton
{
    padding: 0;
    border: none;
    background: none;

    position: absolute; 
    left: 90%; 
    font-size:140%; 
    font-weight: bold;
}

.taskPlusButton
{
    padding: 0;
    border: none;
    background: none;

    position: absolute; 
    left: 80%; 
    font-size:150%; 
    font-weight: bold;
}

.taskBackArrowButton
{
    padding: 0;
    border: none;
    background: none;

    position: absolute; 
    left: 90%; 
    font-size:160%; 
    font-weight: bold;
}

#toDoTasksTable
{
    width: 40%;
    position: absolute;
    left: 30%;
}

#doneTasksTable
{
    width: 40%;
    position: absolute;
    left: 30%;
}

.doneTasksRow
{
    text-decoration: line-through;
}

#showToDoListButton
{
    padding: 0;
    border: none;
    background: none;

    font-size: 30px;

    position: relative;
    left: 35%;

}

#showDoneListButton
{
    padding: 0;
    border: none;
    background: none;

    font-size: 30px;

    position: relative;
    left: 55%;
}

#addTaskFormButton
{
    position: fixed;
    top: 90%;
    left: 48%;

    border-radius: 50%;
    font-weight: bold;
    font-size: 40px;

    text-align: center;
    height: 60px;
    width: 60px;

    z-index: 10;
}

#addTaskFormDiv
{
    position: absolute;
    left: 40%;
    top: 80%;

    width: 20%;
    height: 8%;

    border-style: solid;
    border-width: 1px;

    border-radius: 5px 5px 5px 5px;

    background-color: rgb(255, 255, 255);

    padding: 5px;

    z-index: 10;

    display: none;
}

#addTaskFormTitle
{
    font-size: 20px;
}

#closeAddTaskForm
{
    position: absolute;
    top: 0px;
    right: 0px;
}

#detailScreenDiv
{
    position: absolute; 
    left: 30%; 
    top: 2%; 
    height: 60%; 
    width: 40%; 
    z-index: 6; 
    background-color: white;
    border-style: solid;
    border-width: 1px;
}

#taskPhotoDiv
{

    border-style: solid;
    border-width: 1px;
    position: absolute; 
    left: 30%; 
    top: 15%; 
    height: 40%; 
    width: 40%;
}

#closeTaskDetailsButton
{
    display: none;

    padding: 0;
    border: none;
    background: none;

    font-size: 20px;

    position: absolute;
    top: 62%;
    left: 47%;
}

#taskname
{
    padding: 0;
    border: none;
    background: none;

    font-size: 20px;

    position: relative;
    top: 7%;
    left: 45%;
}

#modifyImageButton
{
    position: absolute;
    top: 60%;
    left: 40%;
}

.editTaskDiv
{
    
    position: absolute;
    top: 75%;
    left: 40%;
}